/***********************TAG SELECTOR**********************/

h1 {
    color: blueviolet;
    font-size: 50px;
}

img:hover {
    background-color: rgb(61, 226, 43);
}

/***********************CLASS SELECTORS********************/

.paneer {
    background-color: rgb(197, 138, 252);
}

.gajar-halwa {
    background-color: rgb(244, 252, 133);
}

/***********************ID SELECTORS********************/

#heading {
    color: rgb(46, 206, 235)
}
