body {
    background-color: aquamarine;
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 5.625rem;
    color:darkcyan;
    line-height: 2;
    margin: 50px auto 0 auto; 
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    font-size: 2.5rem;
    color:darkcyan;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color:darkseagreen;
}

.top {
    background-color: #E4F9F5;
}

.middle {
    margin: 100px 0;
}

/* .bottom {

} */

.p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

div {
    background-color: #E4F9F5;
}

.top {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 40px;
}

.pro {
    text-decoration: underline;
}

.first-cloud {
    position: absolute;
    right: 350px;
}

.second-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.my-photo{
    width: 30%;
}

.btn {
    background: #34b2d9;
    background-image: -webkit-linear-gradient(top, #34b2d9, #159ebd);
    background-image: -moz-linear-gradient(top, #34b2d9, #159ebd);
    background-image: -ms-linear-gradient(top, #34b2d9, #159ebd);
    background-image: -o-linear-gradient(top, #34b2d9, #159ebd);
    background-image: linear-gradient(to bottom, #34b2d9, #159ebd);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color:  #ffffff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #0b97c2;
    background-image: -webkit-linear-gradient(top, #0b97c2, #30b2cf);
    background-image: -moz-linear-gradient(top, #0b97c2, #30b2cf);
    background-image: -ms-linear-gradient(top, #0b97c2, #30b2cf);
    background-image: -o-linear-gradient(top, #0b97c2, #30b2cf);
    background-image: linear-gradient(to bottom, #0b97c2, #30b2cf);
    text-decoration: none;
  }
